 <nav class="navbar navbar-expand-sm bg-primary fixed-top">
      <div class="container">
        <div class="logo">
          <img src="./logo.png" alt="">
        </div>
        <a href="#" class="navbar-brand text-white">EDUSAKHA</a>
      </div>
    </nav>